{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{? url 'catalog' sort='name' ?}">названию</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{? url 'catalog' sort='min_price' ?}">начиная с дешевых</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{? url 'catalog' sort='max_price' ?}">начиная с дорогих</a>
              </li>
            </ul>
        </div>

        <div class="content">
            {? for phone in phones ?}
            {% include 'phone.html' with phone=phone  %}
            {? endfor ?}
        </div>
    </div>
{% endblock %}